{% extends "admin/base.html" %}

{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {# Palette bridge must load first so subsequent admin CSS can resolve var(--cinemata-*). #}
    <link href="{% static 'admin/css/cinemata_palette.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/cinemata_unfold.css' %}" rel="stylesheet">
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block nav-global %}{% endblock %}
